<h1>Listing projects</h1>

<table>
  <tr>
    <th>Clientid</th>
    <th>Projectname</th>
    <th>Projectdescription</th>
    <th>Status</th>
    <th>Duedate</th>
    <th>Startdate</th>
    <th>Clientname</th>
    <th>Primarycontactname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.clientID %></td>
    <td><%= project.projectName %></td>
    <td><%= project.projectDescription %></td>
    <td><%= project.status %></td>
    <td><%= project.dueDate %></td>
    <td><%= project.startDate %></td>
    <td><%= project.clientName %></td>
    <td><%= project.primaryContactName %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
